@import url('https://fonts.googleapis.com/css?family=Arimo');
/*Theme Colors*/
/*bootstrap Color*/
/*Normal Color*/
/*Border radius*/
/*Preloader*/
.preloader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
}
.preloader .cssload-speeding-wheel {
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px);
}
/* cyrillic-ext */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo'), url(https://fonts.gstatic.com/s/arimo/v9/an78_18DAUCSU6a4qacRuA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo'), url(https://fonts.gstatic.com/s/arimo/v9/4NN7UQ_VsRBn7NDD9HKUPw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo'), url(https://fonts.gstatic.com/s/arimo/v9/ye-fuRt_0mKrPeIp6Mwa8A.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo'), url(https://fonts.gstatic.com/s/arimo/v9/VF6T-UwCT6WyIiUKP6AykQ.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo'), url(https://fonts.gstatic.com/s/arimo/v9/X3cUdzInOvbZ6zhcyjPc3w.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo'), url(https://fonts.gstatic.com/s/arimo/v9/eSHy7hCA8QR4qTF-59v60g.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo'), url(https://fonts.gstatic.com/s/arimo/v9/V41d6938Z8eBLYL302F8Ig.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo'), url(https://fonts.gstatic.com/s/arimo/v9/HNu4Nzh6q8Es60EMNZhs9w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/*Just change your choise color here its theme Colors*/
body {
    background: #fff;
}
/*Top Header Part*/
.top-left-part {
    background: rgba(0, 0, 0, 0.04);
}
.logo i {
    color: #ffffff;
}
.navbar-header {
    background: #03a9f3;
}
.navbar-top-links > li > a {
    color: #ffffff;
}
/*Right panel*/
.right-sidebar .rpanel-title {
    background: #03a9f3;
}
/*Bread Crumb*/
.bg-title .breadcrumb .active {
    color: #03a9f3;
}
/*Sidebar*/
.sidebar {
    background: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.sidebar .label-custom {
    background: #01c0c8;
}
#side-menu li a {
    color: #54667a;
}
#side-menu li a {
    color: #54667a;
    border-left: 0px solid #fff;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus {
    background: rgba(0, 0, 0, 0.03);
}
#side-menu > li > a.active {
    border-left: 3px solid #03a9f3;
    color: #2b2b2b;
    font-weight: 500;
}
#side-menu > li > a.active i {
    color: #03a9f3;
}
#side-menu ul > li > a:hover {
    color: #03a9f3;
}
#side-menu ul > li > a.active {
    color: #2b2b2b;
    font-weight: 500;
}
.sidebar #side-menu .user-pro .nav-second-level a:hover {
    color: #03a9f3;
}
.fix-sidebar .top-left-part {
    background: #03a9f3;
}
/*themecolor*/
.bg-theme {
    background-color: #fb9678 !important;
}
.bg-theme-dark {
    background-color: #01c0c8 !important;
}
/*Chat widget*/
.chat-list .odd .chat-text {
    background: #03a9f3;
}
/*Button*/
.btn-custom {
    background: #03a9f3;
    border: 1px solid #03a9f3;
    color: #ffffff;
}
.btn-custom:hover {
    background: #03a9f3;
    opacity: 0.8;
    color: #ffffff;
    border: 1px solid #03a9f3;
}
/*Custom tab*/
.customtab li.active a,
.customtab li.active a:hover,
.customtab li.active a:focus {
    border-bottom: 2px solid #03a9f3;
    color: #03a9f3;
}
.tabs-vertical li.active a,
.tabs-vertical li.active a:hover,
.tabs-vertical li.active a:focus {
    background: #03a9f3;
    border-right: 2px solid #03a9f3;
}
/*Nav-pills*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background: #03a9f3;
    color: #ffffff;
}
